<?xml version="1.0"?>
<config>
	<modules>
		<Adventos_OrderExport>
			<version>1.4.2</version>
		</Adventos_OrderExport>
	</modules>
	<admin>
        <routers>
            <adventos_orderexport>
                <use>admin</use>
                <args>
                    <module>Adventos_OrderExport</module>
                    <frontName>order_export</frontName>
                </args>
            </adventos_orderexport>
        </routers>
    </admin>
	<global>
		<models>
			<orderexport>
				<class>Adventos_OrderExport_Model</class>
			</orderexport>
		</models>
		<helpers>
			<orderexport>
				<class>Adventos_OrderExport_Helper</class>
			</orderexport>
		</helpers>
		<events>
			<core_block_abstract_to_html_before>
				<observers>
					<exportmassaction>
						<type>singleton</type>
						<class>orderexport/observer</class>
						<method>addExportMassAction</method>
					</exportmassaction>
				</observers>			
			</core_block_abstract_to_html_before>
			<adventos_orderexport_export_single_order>
				<observers>
					<orderexport>
						<type>singleton</type>
						<class>orderexport/observer</class>
						<method>createOrderExport</method>
					</orderexport>
				</observers>			
			</adventos_orderexport_export_single_order>
			<sales_order_save_commit_after>
				<observers>
					<ordersaved>
						<type>singleton</type>
						<class>orderexport/observer</class>
						<method>exportOnStatusChange</method>
					</ordersaved>
				</observers>
			</sales_order_save_commit_after>
			<sales_order_place_after>
				<observers>
					<orderplaced>
						<type>singleton</type>
						<class>orderexport/observer</class>
						<method>exportNewProcessingOrder</method>
					</orderplaced>
				</observers>
			</sales_order_place_after>
		</events>
	</global>
	<crontab>
		<jobs>
			<orderexport>
				<schedule>
					<cron_expr>0 22 * * *</cron_expr>
				</schedule>
				<run>
					<model>orderexport/observer::generateCatalogInventoryFile</model>
				</run>
			</orderexport>
		</jobs>
	</crontab>
	<default>
		<catalog>
			<orderexport>
				<process>0</process>
				<storage_id>2</storage_id>
				<store_language>de</store_language>
				<export_path></export_path>
				<B2B_HomeGroup></B2B_HomeGroup>
			</orderexport>
		</catalog>
	</default>
</config>