<?xml version="1.0"?>
<config>
	<modules>
		<Adventos_OrderExport>
			<version>1.2.0</version>
		</Adventos_OrderExport>
	</modules>
	<global>
		<models>
			<orderexport>
				<class>Adventos_OrderExport_Model</class>
			</orderexport>
		</models>
		<helpers>
			<orderexport>
				<class>Adventos_OrderExport_Helper</class>
			</orderexport>
		</helpers>
		<events>
			<sales_order_place_after>
				<observers>
					<orderexport>
						<type>singleton</type>
						<class>orderexport/observer</class>
						<method>createOrderExport</method>
					</orderexport>
				</observers>
			</sales_order_place_after>
		</events>
	</global>
	<crontab>
		<jobs>
			<orderexport>
				<schedule>
					<cron_expr>0 22 * * *</cron_expr>
				</schedule>
				<run>
					<model>orderexport/observer::generateCatalogInventoryFile</model>
				</run>
			</orderexport>
		</jobs>
	</crontab>
	<default>
		<catalog>
			<orderexport>
				<process>0</process>
				<storage_id>2</storage_id>
				<store_language>de</store_language>
			</orderexport>
		</catalog>
	</default>
</config>